<button type="button" class="btn btn-light"(click)="close()">x</button>
<div class="card-body">
		  		<div class="cor-div" >
		  		
				</div>	
			
					<div class="embed-responsive embed-responsive-16by9" >
  							<!--iframe class="embed-responsive-item"this.paused ? this.play() : this.pause();id="mainVideo" [src]="items.source | secureUrl" allowfullscreen autoplay="false"></iframe-->
							<video id="mainVideo" onclick="this.paused ? this.play() : this.pause();" (timeupdate)="setCurrentTime($event)" width="320" height="240" controls  preload="yes" playsinline>
								<source [src]="data.URL | secureUrl" autostart="true" type="">
  							Your browser does not support the video tag.
							</video>
					</div>	
		    		<h5 class="card-title">{{data.Nombre_del_video}}</h5>
		    		<h6 class="card-subtitle mb-2 text-muted">{{data.area_terapeutica}}</h6>
		    		<p class="card-text">{{data.Description}}</p>

		    		<p style="font-size: xx-small;color: gray;">{{data.disclaimer}}</p>
    				<a style="text-decoration: none"  href="{{data.link_produto}}" target="_blank">
					<button type="button" style="margin-right: 3%" class="btn btn-dark">Produto</button>
				</a>
					<button type="button" class="btn btn-dark" (click)="info(data)">Info</button>
										<!--button type="button" class="btn btn-dark" (click)="downloadFile(data.URL)">Info</button-->

					</div>