<button type="button" class="btn btn-light"(click)="close()">x</button>
<div class="card-body">
		  		<div class="cor-div" >
		  		
				</div>	
			
					<div class="embed-responsive embed-responsive-16by9" >
  							<!--iframe class="embed-responsive-item" id="mainVideo" [src]="items.source | secureUrl" allowfullscreen autoplay="false"></iframe-->
							<video id="mainVideo" onclick="this.paused ? this.play() : this.pause();" width="320" height="240"  autoplay nocontrols  preload="yes">
								<source [src]="data.URL | secureUrl" autostart="true" type="">
  							Your browser does not support the video tag.
							</video>
					</div>	
		    		<h5 class="card-title">{{data.Nombre_del_video}}</h5>
		    		<h6 class="card-subtitle mb-2 text-muted">{{data.Codigo_de_Division}}</h6>
		    		<p class="card-text">{{data.Description}}</p>
					<button type="button" style="margin-right: 3%" class="btn btn-info">Info</button>
					<button type="button" class="btn btn-info">Produto</button>
</div>