
<mat-toolbar color="#dac84c">
  <span><img src="/assets/gsk_branco.png"></span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>
  		<div class="btn-group" role="group" aria-label="Basic example">
  			<button type="button" class="btn btn-light" (click)="home()">Home</button>
  			<button type="button" class="btn btn-light" (click)="videos()">Vídeos
			</button>
		</div>
  </span>
</mat-toolbar>



<router-outlet></router-outlet>