
<mat-toolbar color="#dac84c">
	<mat-menu #appMenu="matMenu">
  		<button mat-menu-item (click)="home()">Home</button>
  		<button mat-menu-item (click)="videos()">Vídeos</button>
	</mat-menu>

<button gsk1 type="button" class="btn btn-light" [matMenuTriggerFor]="appMenu">
	  <i class="fas fa-bars"></i> Menu
</button>
<span style="    border-left: 2px solid white;
    margin-left: 1%;
    height: 50px;" ></span>
  <span><img src="/assets/gsk_branco.png"></span>

  <!-- This fills the remaining space of the current row      			<button type="button" class="btn btn-light" (click)="home()">Home</button>
 -->
  <span class="example-fill-remaining-space">  	
</span>

<p style="margin-top: 18px;
    margin-bottom: 1rem;
    margin-right: 15px;">Olá, {{usuario.Nombre_del_representa}}</p>

</mat-toolbar>


<mat-card class="transparent-card">

	<mat-card-title>
		<div>
			<h1>Escolha a área terapêutica</h1>	
		</div>
		
	</mat-card-title>
	<mat-card-subtitle style="text-align: center !important; ">	
		<div class="btn-group" role="group" aria-label="Basic example" *ngFor="let items of division">
			<label style="margin-right: 10px;" *ngIf="items.Pais == usuario.Pais">
				<label >
				  			<button #uname type="button" id="uname" value="{{items.Descripcion_de_Division}}" (click)="filtro(items.Descripcion_de_Division)" class="btn btn-light">{{items.Descripcion_de_Division}}</button>
				</label>
			</label>
		
		</div>
	</mat-card-subtitle>
</mat-card>


<div class="container" style="text-align: -webkit-center;">
  <div class="row"  >
    <div class="col-xl" >
    	<ul  class="list-group">
    			<li style="list-style-type: none;" *ngFor="let items of filtrai">

					<div class="card card-videos" *ngIf="items.Pais == usuario.Pais" style="width:100%; margin-right: 5px; height: auto; ">
			 
		  				<div class="card-body">
		  					<div class="row">
		  						<div class="col-sm">
		  						<video id="mainVideo" width="100%" height="auto" style="border: 2px solid black;"  nocontrols  preload="yes">
										<source [src]="items.URL | secureUrl" autostart="false" type="video/mp4">
									</video>
								</div><div class="col-sm">					
		    								<h5 class="card-title">{{items.Nombre_del_video}}</h5>
		    								<h6 class="card-subtitle mb-2 text-muted">{{items.division_description}}</h6>
		    								<p class="card-text">{{items.Description}}</p>
									<button type="button" style="margin-right: 3%" (click)="info(items)" class="btn btn-info">Play</button>
									</div>
									</div>	
		  				</div>

					</div>
				</li>
				</ul> 
	</div>
  </div>
</div>

<nav class="navbar sticky-bottom navbar-light bg-light">
  <a class="navbar-brand" href="#">GSK - GlaxoSmithKline</a>
</nav>