
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$videoLib-primary: mat-palette($mat-indigo);
$videoLib-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$videoLib-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$videoLib-theme: mat-light-theme($videoLib-primary, $videoLib-accent, $videoLib-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($videoLib-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.mat-toolbar {
    background: #f4a836 !important;
    color: rgba(0, 0, 0, 0.87);
    img{
    	max-width:30%;
    }
}
.mat-card{
	    box-shadow: none !important;
	    img{
	        max-width: 15%;
	    }
}
.nav-brand{
	font-size:-0.75rem !important;
}
body{
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('./assets/back.png')  #0000001a;
}
.transparent-card{
		border-top-right-radius: 0px !important;
    	border-top-left-radius: 0px !important;
		background: linear-gradient(#f4a836, rgba(255, 255, 255, 0));
		h1{
			color:white;
			text-align:center;
			font-weight: bold;
			margin-top:5%;
		}
		h4{
			color:white;
			text-align:center;
			font-weight: bold;
			margin-top:5%;
		}
		.btn-group{
			text-align:center !important
		}
		p{
			color:white;
			text-align:center;
			size:26px;
		}

}
.secound-card{
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.85));

}
.container{
	h1{
	margin-top:10%;
		text-align:center;
		font-weight: bold;
		margin-bottom:10%;
	}
}
.card-videos{
	background: linear-gradient(rgba(255, 160, 75, 0.78), rgba(255, 255, 255, 0.85)) !important;
    margin-bottom: 10%;

}
.cor-div{
	color:#000
}
.mat-dialog-container {
	  background: linear-gradient(rgba(255, 160, 75, 0.78), rgba(255, 255, 255, 1)) !important;
      width: 250px;
      height: 250px
}