
<mat-toolbar color="#dac84c">
	

<span></span>
  <span><img src="/assets/gsk_branco.png"></span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space">	</span>
  <p style="margin-top: 18px;
    margin-bottom: 1rem;
    margin-right: 15px;">Hi, {{usuario.Nombre_del_representa}}</p>

</mat-toolbar>




<mat-card class="transparent-card">

	<mat-card-title>
		<div>
			<h1>GSK Video Library</h1>	
		</div>
		
	</mat-card-title>
	<mat-card-subtitle style="text-align: center !important; ">	
		<input class="form-control"  style="    border-radius: 25px;   width: 75%;  margin-top: 5%;  margin-left: auto;    text-align: center;    margin-right: auto;    box-shadow: 3px 3px #cecdcd;" id="passcode" (keyup)="filtro($event)"  placeholder="Search" #passcode aria-describedby="search"><br/>
		<!--button #uname type="button" id="uname" (click)="filtro()" class="btn btn-dark"> Search </button-->
	</mat-card-subtitle>
</mat-card>

<div class="container colors">

	<!--h1>Para você!</h1>
	<mat-card-subtitle style="text-align-last: center !important; " *ngIf="divisionUser.length >= 1">		
		<div class="btn-group" role="group" aria-label="Basic example">
			<label style="margin-right: 10px;">			
				  			<button #uname type="button" id="uname" value="{{divisionUser[0].Codigo_de_Division}}" (click)="filtro(divisionUser[0].Codigo_de_Division)"  class="btn btn-dark">{{divisionUser[0].Descripcion_de_Division}}</button>
	
			</label>
		
		</div>
			<div class="btn-group" role="group" aria-label="Basic example">
			<label style="margin-right: 10px;" *ngIf="">
				<label >
				  			<button #uname type="button" id="uname" class="btn btn-dark">btn</button>
				</label>
			</label>
		
		</div>

	</mat-card-subtitle-->

	
  <div class="container" style="text-align: -webkit-center;">
  <div class="row"  >
    <div class="col-xl" >
    	<ul  class="list-group">
    			<li style="list-style-type: none;" *ngFor="let items of filtrai">

					<div class="card card-videos" *ngIf="items.Pais == usuario.Pais" style="width:100%; margin-right: 5px; height: auto; ">
			 
		  				<div class="card-body">
		  					<div class="row">
		  						<div class="col-sm">
		  						<video id="mainVideo" width="100%" height="auto" style="border: 2px solid black;"  nocontrols  preload="yes">
										<source [src]="items.URL | secureUrl" autostart="false" type="video/mp4">
									</video>
								</div>
								<div class="col-sm">					
		    								<h5 class="card-title">{{items.Nombre_del_video}}</h5>
		    								<h6 class="card-subtitle mb-2 text-muted">{{items.Codigo_de_Division}} | {{items.area_terapeutica}}</h6>
		    								<p class="card-text">{{items.Description}}</p>
									<button type="button" style="margin-right: 3%" (click)="info(items)" class="btn btn-dark">Watch</button>
									</div>
									</div>	
		  				</div>

					</div>
				</li>
				</ul> 
	</div>
  </div>
</div>
</div>
