
<mat-toolbar color="#dac84c">
  <span><img src="/assets/gsk_branco.png"></span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space">	</span>
  <p style="margin-top: 18px;
    margin-bottom: 1rem;
    margin-right: 15px;">Olá, {{usuario[0].Nombre_del_representa}}</p>

  <span>
  		<div class="btn-group" role="group" aria-label="Basic example">
  			<button type="button" class="btn btn-light" (click)="home()">Home</button>
  			<button type="button" class="btn btn-light" (click)="videoss()">Vídeos
			</button>
		</div>
  </span>
</mat-toolbar>




<mat-card class="transparent-card">

	<mat-card-title>
		<div>
			<h1>GSK VideoLIB</h1>	
		</div>
		
	</mat-card-title>
	<mat-card-subtitle>	
		<p>Assista aos videos da GSK pela nossa plataforma.</p>
	</mat-card-subtitle>
</mat-card>

<div class="container colors">

	<h1>Para você!</h1>
	<mat-card-subtitle style="text-align-last: center !important; ">	
		<div class="btn-group" role="group" aria-label="Basic example" *ngFor="let items of division">
			<label style="margin-right: 10px;" *ngIf="items.Descripcion_de_Division == usuario[0].Descripcion_de_Division || items.Descripcion_de_Division == usuario[1].Descripcion_de_Division ">
				<label >
				  			<button #uname type="button" id="uname" value="{{items.Descripcion_de_Division}}" (click)="filtro(items.Descripcion_de_Division)" class="btn btn-light">{{items.Descripcion_de_Division}}</button>
				</label>
			</label>
		
		</div>
	</mat-card-subtitle>
  <div class="row" style="">
    <div class="col-xl" >
    	<ul  class="list-group">
    			<li style="list-style-type: none;" *ngFor="let items of filtrei">

					<div class="card card-videos" *ngIf="items.Codigo_de_Division == usuario[0].Codigo_de_Division || items.Codigo_de_Division == usuario[1].Codigo_de_Division" style="width:100%; margin-right: 5px; height: auto; ">
			 
		  				<div class="card-body">
		  					<div class="row">
		  						<div class="col-sm">
		  						<video id="mainVideo"width="350" height="100%" style="border: 2px solid black;"  nocontrols  preload="yes">
										<source [src]="items.URL | secureUrl" autostart="false" type="video/mp4">
									</video>
								</div><div class="col-sm">					
		    								<h5 class="card-title">{{items.Nombre_del_video}}</h5>
		    								<h6 class="card-subtitle mb-2 text-muted">{{items.Codigo_de_Division}}</h6>
		    								<p class="card-text">{{items.Description}}</p>
									<button type="button" style="margin-right: 3%" (click)="info(items)" class="btn btn-info">Play</button>
									</div>
									</div>	
		  				</div>

					</div>
				</li>
				</ul> 
	</div>
  </div>
</div>

<nav class="navbar sticky-bottom navbar-light bg-light">
  <a class="navbar-brand" href="#">GSK - GlaxoSmithKline</a>
</nav>